openslide-python
scikit-learn
scikit-image
scipy
opencv-python
pandas
tqdm
itk
matplotlib
mahotas@git+https://github.com/luispedro/mahotas.git
pandas
jupyterlab
zarr
tifffile
h5py
segmentation-models-pytorch
networkx==2.8.7
libpysal
Pillow
shapely
staintools
albumentations
spams-bin
toml
numcodecs
imagecodecs
timm==0.9.6
geojson